/*Основной файл со стилямя*/
html,body{margin:0px;padding:0px;font-size:11px;color:#1A1A18;/*overflow-x:hidden;*/
font-family: Verdana, Sans-Serif,Arial;background:#e7e7e5;1height:100%;}
/*
@media screen and (max-width:500px) {body {font-size:.8em;}}
*/
a {text-decoration:none;color:#000;border:none;}
a:hover {cursor:pointer;}
p {font-size:11px;}
form,dl,dt,dd,a{margin:0;padding:0;border:0;border:none;}
table,td,th,img {border:none;padding:0;margin:0;}
button {outline:none;border:none;background:none;padding:0;margin:0;}
button:hover {cursor:pointer;}
button:disabled {opacity:0.7;}
h1,h2,h3,h4,h5,h6 {font-size:11px;padding:0;margin:0;}

/*Тело сайта - НАЧАЛО*/
#body {text-align:center;height:100%;padding:0;margin:0;cursor:default;}
#mainbody {text-align:left;display:inline-block;padding:0 20px;margin:0;width:100%;max-width:990px;background:#fff;
min-height: 100%;height:auto !important; height: 100%!important;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#m-header,#m-center,#m-footer {text-align:center;padding:0px;cursor:default;display:block;height:100%;1background:#FAF7F4;}

/**************************************************/

/*
Используемые цвета:


*/
h2 {font-size: 18px;margin: 10px;}
#mainbody>div {padding:10px;margin:10px 0 20px 0;}


.tCarousel {height:240px;overflow:hidden;border:1px solid #244551;background:#fff;}
.tCarousel .tcarousel-clip {margin:0 58px;}
.tCarousel ul.tcarousel-list {
	/*transition:left 120ms 20ms cubic-bezier(0.500, 0.250, 0.705, 0.665);*/
	transition:left 120ms 20ms cubic-bezier(0.500, 0.250, 0.705, 0.665);
}
.tCarousel ul.tcarousel-list.moving {cursor:move;
	transition-delay:0ms;
	transition-duration:0ms;
}
/*
.tCarousel ul.tcarousel-list.moving:before {content:"";position:absolute;left:0;top:0;width:100%;height:100%;background:transparent;}
*/
.tCarousel ul:after {content:"";clear:both;display:block;}
.tCarousel ul>li.tcarousel-item {float:left;width:220px;height:220px;overflow:hidden;border:1px solid #c0e1d7;margin:5px;color:#ededed;font-size:1.5rem;}
.tCarousel ul>li.tcarousel-item>a {display:block;}
.tCarousel .tcarousel-button {position:absolute;top:50%;margin-top:-2rem;font-size:2rem;width:4rem;height:4rem;text-align:center;color:#000;background:#fafafa;
	border-radius:100%;
}
.tCarousel .tcarousel-button:hover {background:#ededed;cursor:pointer;}
.tCarousel .tcarousel-button.hide {display:none;}
.tCarousel .tcarousel-left {left:10px;}
.tCarousel .tcarousel-left:before {content:"◄";padding-right:4px;}
.tCarousel .tcarousel-right {right:10px;}
.tCarousel .tcarousel-right:before {content:"►";padding-left:4px;}
.tCarousel .tcarousel-button:disabled {opacity:0.4;color:#ededed;background:#d1d1d1;cursor:default;}
/*
.tCarousel ul.tcarousel-list.hoverLeft {
transform:translateX(20px);
transition:transform 200ms linear;
}
.tCarousel ul.tcarousel-list.hoverRight {
transform:translateX(-20px);
transition:transform 200ms linear;
}
*/